@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:400,700');

$black: #000000;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$family-secondary: 'Quicksand', sans-serif;
$section-padding: 1.5rem 1.5rem;
$body-size: 14px;
$text: $black;
$link: $black;
$border: #d6d6d6;
$tabs-border-bottom-color: transparent;
$tabs-link-active-border-bottom-color: $black;
$tabs-border-bottom-width: 2px;
$tabs-toggle-link-active-background-color: transparent;

@import '../../node_modules/bulma/bulma.sass';
