@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:400,700');

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$family-secondary: 'Quicksand', sans-serif;
$section-padding: 1.5rem 1.5rem;

@import '../../node_modules/bulma/bulma.sass';
